@font-face {
    font-family: 'agave Nerd Font Mono';
    src: url('../../fonts/agave/agaveNerdFontCompleteM-r.eot');
    src: url('../../fonts/agave/agaveNerdFontCompleteM-r.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/agave/agaveNerdFontCompleteM-r.woff') format('woff'),
        url('../../fonts/agave/agaveNerdFontCompleteM-r.ttf') format('truetype'),
        url('../../fonts/agave/agaveNerdFontCompleteM-r.svg#agaveNerdFontCompleteM-r') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'agave Nerd Font';
    src: url('../../fonts/agave/agaveNerdFontComplete-r.eot');
    src: url('../../fonts/agave/agaveNerdFontComplete-r.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/agave/agaveNerdFontComplete-r.woff') format('woff'),
        url('../../fonts/agave/agaveNerdFontComplete-r.ttf') format('truetype'),
        url('../../fonts/agave/agaveNerdFontComplete-r.svg#agaveNerdFontComplete-r') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'agave NF';
    src: url('../../fonts/agave/agaveNerdFontCompleteM-r_1.eot');
    src: url('../../fonts/agave/agaveNerdFontCompleteM-r_1.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/agave/agaveNerdFontCompleteM-r_1.woff') format('woff'),
        url('../../fonts/agave/agaveNerdFontCompleteM-r_1.ttf') format('truetype'),
        url('../../fonts/agave/agaveNerdFontCompleteM-r_1.svg#agaveNerdFontCompleteM-r') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'agave NF';
    src: url('../../fonts/agave/agaveNerdFontComplete-r_1.eot');
    src: url('../../fonts/agave/agaveNerdFontComplete-r_1.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/agave/agaveNerdFontComplete-r_1.woff') format('woff'),
        url('../../fonts/agave/agaveNerdFontComplete-r_1.ttf') format('truetype'),
        url('../../fonts/agave/agaveNerdFontComplete-r_1.svg#agaveNerdFontComplete-r') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

